#top-message a {
  display: block;
  /* width: 100vw; */
  min-width: 1050px;
  height: 42px;

  background-color: #5F0080;
  
  font-size: 14px;
  line-height: 42px;
  letter-spacing: -0.6px;
  color: #FFFFFF;
  text-align: center;
}

#top-message-arrow {
  display: inline-block;
  width: 42px;
  height: 42px;

  /* 상단부 고정 */
  vertical-align: top;
  
  cursor: pointer;
}

#top-message-close {
  width: 42px;
  height: 42px;

  position: absolute;
  right: 0;

  background-image: url(../img/close.webp);
  background-color: transparent;
  
  vertical-align: top;
  /* ! 1050px 이하로 사라지게.. */
}

#top-header {
  height: 156px;
}

#header, #logo-box {
  width: 1050px;
  height: 37px;

  margin: 0 auto;
}

#header .delivery-info a img {
  height: 22px;
  margin: 7.5px 0;
  background-color: transparent;
  cursor: pointer;
}

#userMenu {
  z-index: 9999999999;
  display: flex;
  font-weight: 500;
}

#userMenu .menu-item:nth-child(1):after, .menu-item:nth-child(2):after {
  content: "";
  float: right;
  margin-top: 11px;
  width: 1px;
  height: 13px;
  background-color: #d8d8d8;
}

#userMenu .menu-item:last-child {
  position: relative;
}

#userMenu .link_menu {
  display: inline-block;
  height: 37px;

  padding: 0 12px;

  font-size: 12px;

  color: #333333;
  text-align: center;
  line-height: 35px;
}

#userMenu #downBtn {
  width: 8px;
  height: 5px;
  position: absolute;
  right: 0;
  top: 14px;
  background-image: url(../img/downBtn.webp);
}

#userMenu .link_menu:hover {
  color: #5F0080;
}

#userMenu .sub-links {
  width: 102px;
  height: 152px;
  padding: 3px 9px;
  background-color: #FFFFFF;
  border: 1px solid #dddddd;
  position: absolute;
  top: 34px;
  font-size: 12px;
  line-height: 2em;
}

#userMenu .sub-links li a {
  display: block;
}

#csCenter {
  z-index: 100000;
}

#userMenu .sub-links.hidden {
  display: none;
}

#logo-box {
  min-width: 1050px;
  height: 67px;
  position: relative;
}

#logo {
  width: 100%;
  height: 79px;

  position: absolute;
  top: -27px;
  
  text-align: center;
}

#logo a img {
  height: 79px;
}