#menu, .main-menu, .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  width: 1050px;
  height: 55px;
  margin: 0 auto;
}

#menu .main-menu-item {
  width: 120px;
  
  font-weight: 700;
  text-align: center;
}

#menu .main-menu-item:hover {
  color: #5F0080;
}

#menu .main-menu-item:first-child {
  width: 148px;
}

#bars {
  display: inline-block;
  background-image: url(../img/bars.webp);
  width: 16px;
  height: 14px;
  margin: 5px 12px 0 0;
}

div.search-bar {
  position: relative;
}

#search-input {
  width: 242px;
  height: 36px;
  border: 1px solid #f7f7f6;
  background-color: #f7f7f7;
  border-radius: 18px;
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  outline: none;
  line-height: 16px;
  padding: 0 60px 0 14px;
}

#search-button {
  width: 30px;
  height: 30px;
  background: transparent;
  position: absolute;
  right: 5px;
  top: 2px;
}

ul.icons {
  margin-left: 30px;
}

ul.icons li a {
  margin: 0 10px;
}