/* Main Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  height: 100vh;

  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;

}

/* RESET Style */

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

ul, ol {
  list-style: none;
  padding: 0;
}

/* Float */
.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}